@using MicropostsApp.Extensions
@model MicropostViewModel

<h2>Create Micropost</h2>

<form method="post" id="createMicropostForm">
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    @if (ViewContext.HttpContext.RequestServices.GetRequiredService<IWebHostEnvironment>().IsDevelopment())
    {
        <input type="hidden" name="ProtectionToken"
               value="@Context.Request.Query.GetValueOrDefault(key: "castleToken", defaultValue: "test|device:chrome_on_mac|risk:0.0")"/>
    }
    <button type="submit" class="btn btn-primary">Create</button>
</form>
