@using System.Diagnostics
@{
    ViewData[index: "Title"] = "Home Page";
}

@{
    Debug.Assert(
        condition: User.Identity != null,
        message: "User.Identity != null");
}
@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Your Dashboard</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Home Page</h1>
    </div>
}