@{
    ViewData["Title"] = "Home Page";
}

@{
    System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
}
@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
    <h1 class="display-4">Your Dashboard</h1>
</div>

}
else
{
    <div class="text-center">
    <h1 class="display-4">Home Page</h1>
</div>
}
